#header {
	top: 0;
	background: #194446;
	width: 100%;
	margin: 0px;
	padding: 3px;
	height: 120px;
	position: fixed;
}
body {
	margin: 0px;
}
.navbutton {
	padding: 10px;
	text-align: center;
	height: 30px;
	font-size: 20px;
	color: #fefefe;
	background-color: #0e2d2e;
	border: none;
	vertical-align: middle;
	position: relative;
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	/*float: right;*/
	margin-right: 30px;
	/*background: url(logout.png) no-repeat 0 -4px;*/
}
#logo {
	float: left;
	max-height: 100px;
}
#username {
	margin-top: 55px;
	color: #fefefe;
	letter-spacing: 2px;
	font-family: sans-serif;
	text-align: right;
	margin-right: 10px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	/*float: right;*/

}
#content {
	margin-top: 130px;

}
