.center {
    text-align: center;
    vertical-align: middle;
}

.main-container {
   margin-top: 50px;
   min-height: 75px;
}
.page-header {
    margin-top: 80px;
}

/*.excercise-list {
    margin-top: 5px;
}*/
